.lua-container {
  padding: 20px;
}

.lua-card {
  background: white;

  border-radius: 20px;

  padding: 24px;

  margin-top: 14px;

  box-shadow: 0 4px 20px rgba(0,0,0,.08);

  text-align: center;
}

.lua-emoji {
  font-size: 70px;
  margin-bottom: 12px;
}

.lua-fase {
  font-size: 24px;
  font-weight: 700;

  margin-bottom: 10px;
}

.lua-info {
  color: #555;
  margin-top: 8px;
}
